
  
  Body {
      color: white;
      mask-image: ATS ;
      overflow-x: hidden;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  a {
    text-decoration: none;
    color: white;
  }

.FC {
 color:black
}
  #id {
         background-color: #24422d;
         margin-top: -10px;
         margin-right: -10px;
         margin-left: -10px;
         margin-bottom: -10px;
         padding: 10px;
         padding-top: 15px;
         
  }
 #bar{
    display: grid;
    padding-top: 5px;
    padding-left:50px ;
    padding-bottom: 2px;
    grid-template-columns: 7.5fr 1fr 1fr 1fr;
 }

 #Hell {
 position: relative;
 top: 10000px;
 }

 #Simg {
    padding-left: 85px;
    padding-top: 20px;
 }
 #SidB
 {
    position: relative;
    padding-left: 345px ;
    top:-75px;
 }



 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: #24422d;
    overflow-x: hidden;
    transition: 0.s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
  }
  
  .sidenav a:hover {
    color: #24422d;
    transition: 0s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .Mörk {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
  }

  .Mörk .Close {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
  }
  .Bar {
  position: relative;
  background-color: rgb(247,247,247);
  border: 1px solid rgb(211, 211, 211);
  margin: 3px ;
  border-radius: 50px;
  height: 40px;
  width: 385px;
  left: 550px;
  top:-150px;
  background-image: url('Bilder/Sok.svg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;
  }

  .boxsidebar {
    border-bottom: 1px solid hsla(0,0%,100%, .1);
  }

  .boxsidebarsheep {
    border-bottom: 1px solid hsla(0,0%,100%, .1);
  }

  .boxsidebar:hover {
  background-color: #efe5d0;
  color: #24422d;
  }

  .boxsidebarsheep:hover {
    background-color: #efe5d0;
    color: #24422d;
  }

  .boxsidebarsheep:hover .overlay {
    background-color: #efe5d0;
    opacity:1;
    
  }
  .overlay {
    position: relative;
    width: 50px;
    left:-84px;
    opacity:0;
    transition: 100ms
  }
  #moveprod{
    position: relative;
    color: black; font-size: large;
    left: 400px;
    top: -115px;
  }

  .Hogersida {
    
  }
  #konta{
    
  }
  #logga {

  }