
  
  Body {
      color: white;
      mask-image: ATS ;
      overflow-x: hidden;
    background-color: darkgreen;
  }

  a {
    text-decoration: none;
    color: white;
  }

.FC {
 color:black
}
  #id {
         background-color: darkgoldenrod;
         margin-top: -10px;
         margin-right: -10px;
         margin-left: -10px;
         margin-bottom: -10px;
         padding: 10px;
  }
 #bar{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
 }